<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
  <h1>スケジュール</h1>
  <nav id="nav">
      <ul>
        <li><%= link_to 'カレンダー', root_path %></li>
        <li><%= link_to 'スケジュール一覧', calender_events_path %></li>
      </ul>
    </nav>
</header>
    

